<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" >
    <title>Your Flashcards</title>
    <link rel="icon" type="image/x-icon" href="images/title-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Sintony:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="navbar">
        <div class="title">
            <img src="images/logo.jpg">
            <p><strong>FastCards</strong></p>
        </div>
        <div class="logout">

            <a href="/logout">
                <button class="logout">logout</button>
            </a>
        </div>
    </div>
    <div class="userArea">
        <div class="userprofile">
            <div class="username">
                <img src="images/profile.jpg"> 
                <p><%= currentUser %></p>
            </div>
            <div class="edit">
                <a href="/editdeletecards">
                    <img src="images/edit.jpg" >
                </a>
                <a href="/createcard">
                    <img src="images/add.jpg" >
                </a>
            </div>
        </div>
    </div>
    <div class="folders">
        <div class="innerfolders">
            
                <% for (let i = 0; i < listofcards.rows.length; i++) { %>
                <li class="list">
                    <a href="/playquiz?cardname=<%= listofcards.rows[i].cardname %>">
                         <img src="images/card-pink.png" onmouseover="hover(this);" onmouseout="unhover(this);">
                    </a>
                    <p class="folder"><%= listofcards.rows[i].cardname %></p>
                </li>
                <% } %>
    
        </div>
    </div>
</body>
<script>
    function hover(element) {
      element.setAttribute('src', 'images/card-blue.png');
    }
    
    function unhover(element) {
      element.setAttribute('src', 'images/card-pink.png');
    }
    </script>
</html>