<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css" >
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="title">
            <img src="images/logo.jpg">
            <p>FastCards</p>
        </div>
        <div class="logout">
            <button class="logout">logout</button>
        </div>
    </div>
    <form action="/createfolder" method="post">
        <label for="folder">foldername</label><br>
        <input type="text" id="folder" name="folder" ><br>
        <!-- <label for="invite">invite:</label><br>
        <input type="text" id="invite" name="invite" ><br><br> -->
        <input type="submit" value="Submit">
      </form> 
</body>
</html>