<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css" >
    <title>Create Quiz</title>
    <link rel="icon" type="image/x-icon" href="images/title-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Sintony:wght@400;700&display=swap" rel="stylesheet"> 

</head>
<body>
    <div class="navbar">
        <div class="title">
            <img src="images/logo.jpg">
            <p>FastCards</p>
        </div>
        <div class="logout">
            <a href="/logout">
                <button class="logout">logout</button>
            </a>
        </div>
    </div>
    <div class="createquizarea">
        <div class="qna">
            <div class="innerqna">
                <form action="/createquiz" method="post">
                    <label class="label" for="question">Q </label><br>
                    <textarea id="question" name="question" rows="4" cols="50"></textarea><br>
                    <label class="label" for="answer">A  </label><br>
                    <textarea  id="answer" name="answer"rows="4" cols="50"></textarea><br>

                    <div class="button">
                        <input class="submit" type="submit" value="submit">
                    </div>
                </form> 
            </div>
        </div>
        <div class="qna">
            <div class="innerqnaa">
                <% if (listofqna && listofqna.rows) { %>
                    <% for (let i = 0; i < listofqna.rows.length; i++) { %>
                        <div class="quesans">
                            Question <%= i + 1 %>: <%= listofqna.rows[i].question %>
                            <br>
                            Answer <%= i + 1 %>: <%= listofqna.rows[i].answer %>
                            <br>
                        </div>
                      
                    <% } %>
                <% } else { %>
                    <p>No questions and answers available.</p>
                <% } %>
               <div class="button">
                 <a href="/cards">
                    <button class="submit">done</button>
                </a>
            </div> 
            </div> 
           

            
        </div>
    </div>

</body>
</html>