<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/editdelete.css" >
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="images/title-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Goblin+One&family=Luckiest+Guy&family=Righteous&family=Sintony:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <div class="title">
            <img src="images/logo.jpg">
            <p><strong>FastCards</strong></p>
        </div>
        <div class="logout">
            <a href="/logout">
                <button class="logout">logout</button>
            </a>
        </div>
    </div>
    <div class="create">
        <div class="innercreate">
        <form action="/editdeletefolders" method="post">
            <img src="images/logo.jpg">
            <p> Rename or Delete Folder</p>
            <label for="edit">original foldername:  </label><br>
            <input class="bar" type="text" id="origfoldername" name="origfoldername" ><br>
            <label for="edit">new foldername:  </label><br>
            <input class="bar" type="text" id="newfoldername" name="newfoldername" ><br>
            <label for="delete">delete:  </label><br>
            <input class="bar" type="text" id="delete" name="delete" ><br>
            <input class="bar" type="submit" value="Submit">
        </form> 
        </div>
    </div>
</body>
</html>