<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fastcards</title>
    <link rel="stylesheet" href="css/register-login.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Sintony:wght@400;700&display=swap" rel="stylesheet"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Goblin+One&family=Luckiest+Guy&family=Righteous&family=Sintony:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="logo">
        <div class="innerlogo">
             <img src="images/logo1.jpg">
             <p>F a s t C a r d s</p>
        </div>
       
    </div>
    <div class="form">
        <div class="innerform">
            <div class="innerestform">
                <p class="firstp">Login your account</p>
                <form action="/login" method="post">
                <label class="label" for="username">username</label><br>
                <input class="bar" type="text" id="username" name="username"><br>
                <label class="label" for="password">password</label><br>
                <input class="bar" type="password" id="password" name="password"><br><br>
                <input type="submit" value="login">
                <p class="secp">don't have an account? <a href="/register">register here</a></p>
                </form> 
            </div>
        </div>
    </div>   
</body>
<script>
    console.log("YOLO")
    // Get the number of elements with the class "folder"


</script>
</html>