
/* color pallete
pink: #f2bdd6
dark pink: #f690c6
blue: #64c5fa
dark: #5eacde
grey: #f1f1f1
*/

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sintony-regular {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    display:column;
    height:100vh;
}
.navbar {
    display:flex;
    height:8%;
    background-color: #f2bdd6;
    justify-content: center; 
    align-items: center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.title{
    flex:10;
    justify-content: center; 
    align-items: center;
}
.title p{
    font-family: "Sintony", sans-serif;
}
.title img{
    margin: 2%;
    width:auto;
    height:20px;
    float:left;
    justify-content: center; 
    align-items: center;
}

.title p {
    margin: 2%;
    color: white;
}

.logout{
    flex:1;
    justify-content: right; 
    align-items: center;
    cursor: pointer;
    

}

.logout button{
    background-color: white;
}

.navbar button{
    flex:1;
    justify-content: center; 
    align-items: center;
    height:22px;
    width: 100px;
    border-radius:  10px;
    border:white;
    color: #f2bdd6;
}

.playquiz{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    
}

.questionarea{
    height: 50%;
    width: 100%;
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-end;
}

.question{
    display: flex;
    flex-direction: column; 
    height: 70%;
    width: 60%;
    background-color: #f2bdd6;
    border-radius: 25px;
    position:relative;
}

.img-ques{
    display: flex;
    align-items: center; 
}

.img-ques img{
    margin: 6%;
    margin-right: 2.5%;
    height:2em;
    width: auto;
    
}

.img-ques p{
    color: white;
    
    font-family: "Sintony", sans-serif;
  
    font-size: 1.8em;   
}

.centerques{
    position: absolute;
    color: white;
    font-family: "Sintony", sans-serif;
    font-size: 2em;
    left:43%;
    top:37%;
}
.answerarea{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the elements in the form */
}

input[type="text"]{
    border:none;
    border-bottom: 2px solid #A29999; /* Apply bottom border only */
    text-align: center;
    color:#f2bdd6;
    width:35em;
    outline: none;
    font-size: 1em;
}
input[type="submit"]{
    margin-top: 10px; 
    background-color: white;
    color:#f690c6;
    border: white;
    cursor: pointer;
    font-size: 1em;
}
input[type="submit"]:hover{
    text-decoration: underline;
}





