
/* color pallete
pink: #f2bdd6
dark pink: #f690c6
blue: #64c5fa
dark: #5eacde

*/

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sintony-regular {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
body{
    display:flex;
    
    height: 100vh;
}
.logo{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.innerlogo{
    display: block;
}
.logo p{
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    color:#f690c6;
}
.form{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerform{
    background-color: #f2bdd6;
    width:70%;
    height:80%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.firstp  {
    font-family: "Calistoga", serif;
    text-align: center;
    font-size: 2.3rem;
    color:white;
    margin-bottom:15%;
}
.secp{
    font-size: 11px;
    color:white;
    font-family: "Sintony", sans-serif;
    text-align: center;
    margin-top: 5%;
}
label{
    font-size: 1rem;
    color:white;
    font-family: "Sintony", sans-serif;
}
.bar{
    height:2.2em;
    width: 30em;
    border-radius:  30px;
    margin:1em 0 2.4em 0 ;
    border:white;
    color: #f2bdd6;
}

input[type=text]{
    text-indent:15px;
  } 
  *:focus {
    outline: #f690c6;
    border: solid #f690c6 3px ;
}
  input[type=password]{
    text-indent:15px;
  } 
 
input[type="submit"]{
    height:28px;
    width: 120px;
    border-radius:  15px;
    background-color:white;
    margin-left: 11em;
    border:white;
    color: #f690c6;
    font-weight: bold; 
    cursor: pointer;
    font-family: "Sintony", sans-serif;
}
input[type="submit"]:hover{
    background-color:#f1f1f1;
}