
/* color pallete
pink: #f2bdd6
dark pink: #f690c6
blue: #64c5fa
dark: #5eacde

*/

.sintony-regular {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    display:column;
    height:100vh;
}
p{
    font-family: "Sintony", sans-serif;
}
.navbar {
    display:flex;
    height:8%;
    background-color: #f2bdd6;
    justify-content: center; 
    align-items: center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.title{
    flex:10;
    justify-content: center; 
    align-items: center;
}
.title img{
    margin: 2%;
    width:auto;
    height:20px;
    float:left;
    justify-content: center; 
    align-items: center;
}

.title p {
    margin: 2%;
    color: white;
}
.logout{
    flex:1;
    justify-content: right; 
    align-items: center;
    cursor: pointer;
    

}

.logout button{
    background-color: white;
}

.navbar button{
    flex:1;
    justify-content: center; 
    align-items: center;
    height:22px;
    width: 100px;
    border-radius:  10px;
    border:white;
    color: #f2bdd6;
}
/* ------------------------------------------------------------------- */
[src~="images/add.jpg"]{
    width: auto;
    height:1.5em;
    margin-left:20px;
    

    
}
[src~="images/edit.jpg"]{
    width: auto;
    height:1.5em;
    margin-left:100px;
    
}
.userArea{
    height:25%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.userprofile { 
    display: flex;   
    height:7em;
    width:70em;
}

.username{
    display:flex;
    flex:5;
    justify-content: left; 
    align-items: center;
}

.username img{
    height:100%;
}
.username p{
    margin-left: 2em;
    font-size: 1em;
}
.edit{
    display:flex;
    flex:1;
    justify-content: center; 
    align-items: center;
}
.folders{
    height:63%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.innerfolders{
    display: grid;
    gap: 5% 9.6%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    height:25em;
    width:70em;
}
.innerfolders p{
    font-size: 0.89rem;
}
.imgfolder:hover{
    content: url('images/removed-folder-blue.png');
}
.list{
    display: column; 
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    flex-direction: column; 
}

.list img{
    width:200px;
    height:auto;
}
.list p {
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------ */

.createfolder{
    display:flex;
    height:100%;
    justify-content: center; 
    align-items: center;
}
.innercreatefolder{
    display:column;
    background-color: #f2bdd6 ;
    padding:5% 10% 5% 10%; 
    border-radius:  30px; 
}

input[type="submit"]{
    height:28px;
    width: 120px;
    border-radius:  15px;
    background-color:white;
    margin-left: 12em;
    border:white;
    color: #f690c6;
    font-weight: bold; 
    cursor: pointer;
    font-family: "Sintony", sans-serif;
}

label{
    font-size: 16px;
    color:white;
    font-family: "Sintony", sans-serif;
}

.bar{
    height:2.5em;
    width: 35em;
    border-radius:  30px;
    margin:1em 0 2.4em 0 ;
    border:white;
    color: #f2bdd6;
}
input{
    padding-left:1%;
}

input[type=text]{
    text-indent:15px;
} 
*:focus {
    outline: #f690c6;
    border: solid #f690c6 3px ;
}

.innercreatefolder p{
    font-family: "Sintony", sans-serif;
    text-align: center;
    
    font-size: 3em;
    color:white;
    margin-bottom:15%;
}


