
/* color pallete
pink: #f2bdd6
dark pink: #f690c6
blue: #64c5fa
dark: #5eacde
grey: #f1f1f1
*/

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sintony-regular {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    display:column;
    height:100vh;
}
.navbar {
    display:flex;
    height:8%;
    background-color: #f2bdd6;
    justify-content: center; 
    align-items: center;
}

.title{
    flex:10;
    justify-content: center; 
    align-items: center;
}
.title p{
    font-family: "Sintony", sans-serif;
}
.title img{
    margin: 2%;
    width:auto;
    height:20px;
    float:left;
    justify-content: center; 
    align-items: center;
}

.title p {
    margin: 2%;
    color: white;
}

.logout{
    flex:1;
    justify-content: right; 
    align-items: center;
    cursor: pointer;
    

}

.logout button{
    background-color: white;
}

.navbar button{
    flex:1;
    justify-content: center; 
    align-items: center;
    height:22px;
    width: 100px;
    border-radius:  10px;
    border:white;
    color: #f2bdd6;
}



input[type="submit"], .submit{
    height:28px;
    width: 120px;
    border-radius:  15px;
    background-color:white;
    margin-left: 12em;
    border:white;
    color: #f690c6;
    font-weight: bold; 
    cursor: pointer;
    font-family: "Sintony", sans-serif;
}

label{
    font-size: 30px;
    color:white;
    font-family: "Calistoga", serif;
}


textarea{
    text-indent: 10px;
    font-family: "Sintony", sans-serif;
    font-size: 16px;
    width: 100%;
    height:40%;
    padding: 10px;
    outline: #f690c6;
    border: 1px solid white;
    border-radius: 20px;
    resize: none; 
    color: #f2bdd6;
    margin:5% 0 13% 0;
}
  
    





.createquizarea{
    height:92%;
    display:flex;
}
.qna{
    display:flex;
    justify-content: center; 
    align-items: center;
    width:50%;
    height:100%;

}
.innerqna{
    display:column;
    justify-content: center; 
    align-items: center;
    background-color: #f2bdd6;
    width: 86%;
    height:86%;
    border-radius: 25px;
    position: relative;
}
.innerqnaa{
    display:column;
    justify-content: center; 
    align-items: center;
    background-color: #f1f1f1;
    width: 86%;
    height:86%;
    border-radius: 25px;
    position: relative;
}
.button{
    position: absolute;
    right:1em;
    bottom: 1em;
}
.displayedqna{
    background-color: yellow;
    display:column;
    width:50%;
}

form{
    margin:10%  15% 10% 15%;
}

.quesans{
    color:#A29999;
    font-family: "Sintony", sans-serif;
    margin: 5%;

}